@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
   string currentLoginRoles = @HttpContextAccessor.HttpContext.Session.GetString(IIS.Dashboard.Common.StringConst.SessionKeyRole);
    string currentLoginName = @HttpContextAccessor.HttpContext.Session.GetString(IIS.Dashboard.Common.StringConst.LoginUserNameKey);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IIS.Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IIS.Dashboard.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home">
                    <svg width="618.9822265624999px" height="122px" xmlns="http://www.w3.org/2000/svg" viewBox="-59.491113281249966 14 618.9822265624999 122" style="background: rgba(0, 0, 0, 0);height:30px;width:auto" preserveAspectRatio="xMidYMid">
                        <defs><filter id="editing-extrude-glow"><feFlood flood-color="#333333" result="flood-1"></feFlood><feMorphology operator="erode" radius="1" in="SourceAlpha" result="erode"></feMorphology><feComposite operator="in" in="flood-1" in2="erode" result="comp1"></feComposite><feConvolveMatrix order="3,3" divisor="1" in="comp1" result="convolve" kernelMatrix="0 0 0 1 1 1 0 0 0"></feConvolveMatrix><feOffset dx="-3" dy="0" in="convolve" result="extrude"></feOffset><feComposite operator="in" in="flood-1" in2="extrude" result="comp-extrude"></feComposite><feFlood flood-color="#000000" result="flood-2"></feFlood><feComposite operator="in" in="flood-2" in2="SourceAlpha" result="comp2"></feComposite><feMorphology operator="dilate" radius="1" in="comp2" result="dilate"></feMorphology><feOffset dx="-4.5" dy="0" in="dilate" result="offset"></feOffset><feGaussianBlur in="offset" stdDeviation="5.8" result="blur"></feGaussianBlur><feComponentTransfer in="blur" result="shadow"><feFuncA type="linear" slope="0.8" intercept="-0.2"></feFuncA></feComponentTransfer><feMerge><feMergeNode in="shadow"></feMergeNode><feMergeNode in="comp-extrude"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs>
                        <g filter="url(#editing-extrude-glow)"><g transform="translate(30.930659383535385, 98.68000030517578)"><path d="M14.34 0L0.38 0L8.51-42.24L22.59-42.24L14.34 0ZM37.25 0L23.30 0L31.42-42.24L45.50-42.24L37.25 0ZM71.87-29.57L71.87-29.57L71.87-29.57Q72.83-31.49 72.83-33.28L72.83-33.28L72.83-33.28Q72.83-35.07 72.64-36.06L72.64-36.06L72.64-36.06Q72.45-37.06 72-37.82L72-37.82L72-37.82Q71.04-39.49 69.12-39.49L69.12-39.49L69.12-39.49Q66.75-39.49 64.83-37.76L64.83-37.76L64.83-37.76Q62.78-35.97 62.78-33.15L62.78-33.15L62.78-33.15Q62.78-31.36 64.03-29.98L64.03-29.98L64.03-29.98Q65.28-28.61 67.20-27.33L67.20-27.33L67.20-27.33Q69.12-26.05 71.30-24.77L71.30-24.77L71.30-24.77Q73.47-23.49 75.39-21.95L75.39-21.95L75.39-21.95Q79.81-18.43 79.81-13.70L79.81-13.70L79.81-13.70Q79.81-10.50 78.11-7.78L78.11-7.78L78.11-7.78Q76.42-5.06 73.60-3.07L73.60-3.07L73.60-3.07Q67.46 1.28 59.33 1.28L59.33 1.28L59.33 1.28Q52.74 1.28 49.34-0.86L49.34-0.86L49.34-0.86Q45.95-3.01 45.95-6.27L45.95-6.27L45.95-6.27Q45.95-12.10 50.50-13.57L50.50-13.57L50.50-13.57Q51.78-14.02 53.73-14.02L53.73-14.02L53.73-14.02Q55.68-14.02 57.92-13.18L57.92-13.18L57.92-13.18Q56.90-10.56 56.90-8.19L56.90-8.19L56.90-8.19Q56.90-3.07 60.54-3.07L60.54-3.07L60.54-3.07Q62.91-3.07 64.86-4.80L64.86-4.80L64.86-4.80Q66.82-6.53 66.82-8.48L66.82-8.48L66.82-8.48Q66.82-10.43 65.57-11.84L65.57-11.84L65.57-11.84Q64.32-13.25 62.46-14.37L62.46-14.37L62.46-14.37Q60.61-15.49 58.46-16.58L58.46-16.58L58.46-16.58Q56.32-17.66 54.46-19.20L54.46-19.20L54.46-19.20Q50.11-22.72 50.11-28.35L50.11-28.35L50.11-28.35Q50.11-32 51.90-34.85L51.90-34.85L51.90-34.85Q53.70-37.70 56.58-39.62L56.58-39.62L56.58-39.62Q62.34-43.52 69.41-43.52L69.41-43.52L69.41-43.52Q76.48-43.52 79.90-41.41L79.90-41.41L79.90-41.41Q83.33-39.30 83.33-35.71L83.33-35.71L83.33-35.71Q83.33-32.58 80.90-30.59L80.90-30.59L80.90-30.59Q78.78-28.93 76.22-28.93L76.22-28.93L76.22-28.93Q73.66-28.93 71.87-29.57ZM118.02-33.92L118.02-33.92L118.02-33.92Q120.32-33.92 122.11-33.41L122.11-33.41L122.11-33.41Q122.18-33.66 122.30-34.37L122.30-34.37L122.62-36.35L122.62-36.35Q122.88-37.63 123.26-39.74L123.26-39.74L124.29-44.80L137.02-46.08L129.92-8.96L129.92-8.96Q129.86-8.58 129.86-7.94L129.86-7.94L129.86-6.91L129.86-6.91Q129.86-5.50 130.56-4.45L130.56-4.45L130.56-4.45Q131.26-3.39 132.42-3.39L132.42-3.39L132.42-3.39Q131.14-0.38 127.23 0.90L127.23 0.90L127.23 0.90Q125.89 1.28 124 1.28L124 1.28L124 1.28Q122.11 1.28 120.38 0.29L120.38 0.29L120.38 0.29Q118.66-0.70 118.14-2.37L118.14-2.37L118.14-2.37Q117.12-0.70 115.07 0.29L115.07 0.29L115.07 0.29Q113.02 1.28 110.05 1.28L110.05 1.28L110.05 1.28Q107.07 1.28 104.61 0.51L104.61 0.51L104.61 0.51Q102.14-0.26 100.61-1.92L100.61-1.92L100.61-1.92Q97.79-5.18 97.79-12.61L97.79-12.61L97.79-12.61Q97.79-22.21 103.42-28.03L103.42-28.03L103.42-28.03Q109.06-33.92 118.02-33.92ZM117.57-30.08L117.57-30.08L117.57-30.08Q115.20-30.08 113.92-27.52L113.92-27.52L113.92-27.52Q112.64-24.96 111.33-18.62L111.33-18.62L111.33-18.62Q110.02-12.29 110.02-6.59L110.02-6.59L110.02-6.59Q110.02-2.69 112.32-2.69L112.32-2.69L112.32-2.69Q114.37-2.69 115.81-4.74L115.81-4.74L115.81-4.74Q117.25-6.78 117.82-10.18L117.82-10.18L121.28-28.93L121.28-28.93Q119.94-30.08 117.57-30.08ZM140.64-1.92L140.64-1.92L140.64-1.92Q139.14-3.58 138.46-6.21L138.46-6.21L138.46-6.21Q137.79-8.83 137.79-13.12L137.79-13.12L137.79-13.12Q137.79-17.41 139.26-21.31L139.26-21.31L139.26-21.31Q140.74-25.22 143.42-28.03L143.42-28.03L143.42-28.03Q148.93-33.92 158.02-33.92L158.02-33.92L158.02-33.92Q161.28-33.92 163.65-32.83L163.65-32.83L174.59-33.92L169.86-8.96L169.86-8.96Q169.66-8.19 169.66-6.78L169.66-6.78L169.66-6.78Q169.66-5.38 170.53-4.48L170.53-4.48L170.53-4.48Q171.39-3.58 172.67-3.46L172.67-3.46L172.67-3.46Q172.03-1.28 169.70 0L169.70 0L169.70 0Q167.36 1.28 164.74 1.28L164.74 1.28L164.74 1.28Q162.11 1.28 160.35 0.29L160.35 0.29L160.35 0.29Q158.59-0.70 158.08-2.37L158.08-2.37L158.08-2.37Q157.06-0.77 154.88 0.26L154.88 0.26L154.88 0.26Q152.70 1.28 149.79 1.28L149.79 1.28L149.79 1.28Q146.88 1.28 144.51 0.51L144.51 0.51L144.51 0.51Q142.14-0.26 140.64-1.92ZM154.14-27.90L154.14-27.90L154.14-27.90Q153.41-26.75 152.77-24.80L152.77-24.80L152.77-24.80Q152.13-22.85 151.07-17.63L151.07-17.63L151.07-17.63Q150.02-12.42 150.02-8.70L150.02-8.70L150.02-8.70Q150.02-4.99 150.59-3.90L150.59-3.90L150.59-3.90Q151.17-2.82 152.19-2.82L152.19-2.82L152.19-2.82Q154.24-2.82 155.74-4.77L155.74-4.77L155.74-4.77Q157.25-6.72 157.82-10.18L157.82-10.18L161.22-28.93L161.22-28.93Q159.87-30.08 158.30-30.08L158.30-30.08L158.30-30.08Q156.74-30.08 155.81-29.57L155.81-29.57L155.81-29.57Q154.88-29.06 154.14-27.90ZM197.18-22.46L197.18-22.46L197.18-22.46Q198.08-24.83 198.08-26.88L198.08-26.88L198.08-26.88Q198.08-30.66 195.01-30.66L195.01-30.66L195.01-30.66Q193.41-30.66 192.10-29.22L192.10-29.22L192.10-29.22Q190.78-27.78 190.78-25.98L190.78-25.98L190.78-25.98Q190.78-24.70 191.81-23.68L191.81-23.68L191.81-23.68Q193.28-22.27 197.06-19.97L197.06-19.97L197.06-19.97Q200.83-17.66 202.27-15.78L202.27-15.78L202.27-15.78Q203.71-13.89 203.71-11.30L203.71-11.30L203.71-11.30Q203.71-8.70 202.46-6.34L202.46-6.34L202.46-6.34Q201.22-3.97 198.98-2.30L198.98-2.30L198.98-2.30Q194.18 1.28 186.50 1.28L186.50 1.28L186.50 1.28Q182.34 1.28 179.14-0.90L179.14-0.90L179.14-0.90Q175.94-3.01 175.94-5.50L175.94-5.50L175.94-5.50Q175.94-8 177.76-9.47L177.76-9.47L177.76-9.47Q179.58-10.94 182.27-10.94L182.27-10.94L182.27-10.94Q184.96-10.94 186.62-9.92L186.62-9.92L186.62-9.92Q185.79-7.81 185.79-6.40L185.79-6.40L185.79-6.40Q185.79-2.18 189.38-2.18L189.38-2.18L189.38-2.18Q190.91-2.18 191.94-3.14L191.94-3.14L191.94-3.14Q192.96-4.10 192.96-5.76L192.96-5.76L192.96-5.76Q192.96-9.02 187.46-12.48L187.46-12.48L187.46-12.48Q182.98-15.42 181.95-16.58L181.95-16.58L181.95-16.58Q180.22-18.62 180.22-21.18L180.22-21.18L180.22-21.18Q180.22-23.74 181.44-26.18L181.44-26.18L181.44-26.18Q182.66-28.61 184.90-30.34L184.90-30.34L184.90-30.34Q189.57-33.92 197.70-33.92L197.70-33.92L197.70-33.92Q201.86-33.92 204.32-32.26L204.32-32.26L204.32-32.26Q206.78-30.59 206.78-27.78L206.78-27.78L206.78-27.78Q206.78-24.96 205.09-23.36L205.09-23.36L205.09-23.36Q203.39-21.76 200.32-21.76L200.32-21.76L200.32-21.76Q198.21-21.76 197.18-22.46ZM241.34-7.10L241.34-7.10L241.34-7.10Q241.34-4.29 244.22-3.46L244.22-3.46L244.22-3.46Q243.52-1.09 240.77 0.19L240.77 0.19L240.77 0.19Q238.46 1.28 235.94 1.28L235.94 1.28L235.94 1.28Q233.41 1.28 232.10 0.61L232.10 0.61L232.10 0.61Q230.78-0.06 230.08-1.15L230.08-1.15L230.08-1.15Q228.93-2.82 228.93-5.95L228.93-5.95L228.93-5.95Q228.93-7.81 229.95-12.93L229.95-12.93L230.85-17.79L230.85-17.79Q231.94-23.36 231.94-25.41L231.94-25.41L231.94-25.41Q231.94-28.99 229.95-28.99L229.95-28.99L229.95-28.99Q227.46-28.99 225.86-25.34L225.86-25.34L225.86-25.34Q225.22-23.94 224.77-21.82L224.77-21.82L220.42 0L207.55 1.28L216.58-44.80L229.44-46.08L228.93-43.52L228.93-43.52Q227.14-33.66 225.60-30.34L225.60-30.34L225.60-30.34Q229.18-33.92 235.78-33.92L235.78-33.92L235.78-33.92Q242.75-33.92 244.03-29.31L244.03-29.31L244.03-29.31Q244.48-27.84 244.48-26.56L244.48-26.56L244.48-26.56Q244.48-25.28 244.38-24.29L244.38-24.29L244.38-24.29Q244.29-23.30 243.97-21.50L243.97-21.50L243.14-16.90L241.66-9.66L241.66-9.66Q241.34-8.19 241.34-7.10ZM248.58-3.07L248.58-3.07L256.51-44.80L269.50-46.08L267.52-36.29L267.52-36.29Q266.82-33.28 265.92-31.17L265.92-31.17L265.92-31.17Q267.33-32.96 270.40-33.66L270.40-33.66L270.40-33.66Q271.30-33.92 272.38-33.92L272.38-33.92L272.38-33.92Q278.34-33.92 281.60-30.30L281.60-30.30L281.60-30.30Q284.86-26.69 284.86-19.71L284.86-19.71L284.86-19.71Q284.86-10.62 279.68-4.93L279.68-4.93L279.68-4.93Q274.11 1.28 264 1.28L264 1.28L264 1.28Q257.02 1.28 251.78-1.02L251.78-1.02L251.78-1.02Q249.92-1.86 248.58-3.07ZM264.83-22.40L261.44-3.65L261.44-3.65Q262.78-2.50 264.45-2.50L264.45-2.50L264.45-2.50Q266.11-2.50 267.07-3.14L267.07-3.14L267.07-3.14Q268.03-3.78 268.74-5.06L268.74-5.06L268.74-5.06Q270.66-8.51 272.19-19.07L272.19-19.07L272.19-19.07Q272.64-22.08 272.64-25.09L272.64-25.09L272.64-25.09Q272.64-28.10 271.97-29.06L271.97-29.06L271.97-29.06Q271.30-30.02 270.02-30.02L270.02-30.02L270.02-30.02Q266.11-30.02 264.83-22.40L264.83-22.40ZM302.66 1.28L302.66 1.28L302.66 1.28Q288.58 1.28 288.58-11.97L288.58-11.97L288.58-11.97Q288.58-21.38 293.76-27.46L293.76-27.46L293.76-27.46Q299.26-33.92 308.80-33.92L308.80-33.92L308.80-33.92Q315.71-33.92 319.23-30.72L319.23-30.72L319.23-30.72Q322.75-27.52 322.75-20.80L322.75-20.80L322.75-20.80Q322.75-10.56 317.25-4.61L317.25-4.61L317.25-4.61Q311.87 1.28 302.66 1.28ZM304.32-26.56L304.32-26.56L304.32-26.56Q303.55-24.83 302.94-22.24L302.94-22.24L302.94-22.24Q302.34-19.65 301.57-15.55L301.57-15.55L301.57-15.55Q300.80-11.46 300.80-6.40L300.80-6.40L300.80-6.40Q300.80-4.74 301.34-3.65L301.34-3.65L301.34-3.65Q301.89-2.56 303.36-2.56L303.36-2.56L303.36-2.56Q304.83-2.56 305.76-3.26L305.76-3.26L305.76-3.26Q306.69-3.97 307.39-5.63L307.39-5.63L307.39-5.63Q308.67-8.58 309.70-14.05L309.70-14.05L309.70-14.05Q310.72-19.52 310.82-21.89L310.82-21.89L310.82-21.89Q310.91-24.26 310.91-26.02L310.91-26.02L310.91-26.02Q310.91-27.78 310.40-28.93L310.40-28.93L310.40-28.93Q309.89-30.08 308.45-30.08L308.45-30.08L308.45-30.08Q307.01-30.08 306.05-29.18L306.05-29.18L306.05-29.18Q305.09-28.29 304.32-26.56ZM329.31-1.92L329.31-1.92L329.31-1.92Q327.81-3.58 327.14-6.21L327.14-6.21L327.14-6.21Q326.46-8.83 326.46-13.12L326.46-13.12L326.46-13.12Q326.46-17.41 327.94-21.31L327.94-21.31L327.94-21.31Q329.41-25.22 332.10-28.03L332.10-28.03L332.10-28.03Q337.60-33.92 346.69-33.92L346.69-33.92L346.69-33.92Q349.95-33.92 352.32-32.83L352.32-32.83L363.26-33.92L358.53-8.96L358.53-8.96Q358.34-8.19 358.34-6.78L358.34-6.78L358.34-6.78Q358.34-5.38 359.20-4.48L359.20-4.48L359.20-4.48Q360.06-3.58 361.34-3.46L361.34-3.46L361.34-3.46Q360.70-1.28 358.37 0L358.37 0L358.37 0Q356.03 1.28 353.41 1.28L353.41 1.28L353.41 1.28Q350.78 1.28 349.02 0.29L349.02 0.29L349.02 0.29Q347.26-0.70 346.75-2.37L346.75-2.37L346.75-2.37Q345.73-0.77 343.55 0.26L343.55 0.26L343.55 0.26Q341.38 1.28 338.46 1.28L338.46 1.28L338.46 1.28Q335.55 1.28 333.18 0.51L333.18 0.51L333.18 0.51Q330.82-0.26 329.31-1.92ZM342.82-27.90L342.82-27.90L342.82-27.90Q342.08-26.75 341.44-24.80L341.44-24.80L341.44-24.80Q340.80-22.85 339.74-17.63L339.74-17.63L339.74-17.63Q338.69-12.42 338.69-8.70L338.69-8.70L338.69-8.70Q338.69-4.99 339.26-3.90L339.26-3.90L339.26-3.90Q339.84-2.82 340.86-2.82L340.86-2.82L340.86-2.82Q342.91-2.82 344.42-4.77L344.42-4.77L344.42-4.77Q345.92-6.72 346.50-10.18L346.50-10.18L349.89-28.93L349.89-28.93Q348.54-30.08 346.98-30.08L346.98-30.08L346.98-30.08Q345.41-30.08 344.48-29.57L344.48-29.57L344.48-29.57Q343.55-29.06 342.82-27.90ZM386.75-17.98L386.75-17.98L386.75-17.98Q389.06-22.08 389.06-26.24L389.06-26.24L389.06-26.24Q389.06-28.99 387.07-28.99L387.07-28.99L387.07-28.99Q385.54-28.99 383.94-26.37L383.94-26.37L383.94-26.37Q382.27-23.74 381.76-20.35L381.76-20.35L378.43 0L365.18 1.28L371.71-32.64L382.27-33.92L381.12-27.46L381.12-27.46Q384.26-33.92 391.30-33.92L391.30-33.92L391.30-33.92Q395.01-33.92 397.02-32L397.02-32L397.02-32Q399.04-30.08 399.04-26.14L399.04-26.14L399.04-26.14Q399.04-22.21 396.45-19.71L396.45-19.71L396.45-19.71Q393.86-17.22 389.44-17.22L389.44-17.22L389.44-17.22Q387.52-17.22 386.75-17.98ZM420.22-33.92L420.22-33.92L420.22-33.92Q422.53-33.92 424.32-33.41L424.32-33.41L424.32-33.41Q424.38-33.66 424.51-34.37L424.51-34.37L424.83-36.35L424.83-36.35Q425.09-37.63 425.47-39.74L425.47-39.74L426.50-44.80L439.23-46.08L432.13-8.96L432.13-8.96Q432.06-8.58 432.06-7.94L432.06-7.94L432.06-6.91L432.06-6.91Q432.06-5.50 432.77-4.45L432.77-4.45L432.77-4.45Q433.47-3.39 434.62-3.39L434.62-3.39L434.62-3.39Q433.34-0.38 429.44 0.90L429.44 0.90L429.44 0.90Q428.10 1.28 426.21 1.28L426.21 1.28L426.21 1.28Q424.32 1.28 422.59 0.29L422.59 0.29L422.59 0.29Q420.86-0.70 420.35-2.37L420.35-2.37L420.35-2.37Q419.33-0.70 417.28 0.29L417.28 0.29L417.28 0.29Q415.23 1.28 412.26 1.28L412.26 1.28L412.26 1.28Q409.28 1.28 406.82 0.51L406.82 0.51L406.82 0.51Q404.35-0.26 402.82-1.92L402.82-1.92L402.82-1.92Q400.00-5.18 400.00-12.61L400.00-12.61L400.00-12.61Q400.00-22.21 405.63-28.03L405.63-28.03L405.63-28.03Q411.26-33.92 420.22-33.92ZM419.78-30.08L419.78-30.08L419.78-30.08Q417.41-30.08 416.13-27.52L416.13-27.52L416.13-27.52Q414.85-24.96 413.54-18.62L413.54-18.62L413.54-18.62Q412.22-12.29 412.22-6.59L412.22-6.59L412.22-6.59Q412.22-2.69 414.53-2.69L414.53-2.69L414.53-2.69Q416.58-2.69 418.02-4.74L418.02-4.74L418.02-4.74Q419.46-6.78 420.03-10.18L420.03-10.18L423.49-28.93L423.49-28.93Q422.14-30.08 419.78-30.08Z" fill="#eb6c6c"></path></g></g>
                        <style>
                            text {
                                font-size: 64px;
                                font-family: Arial Black;
                                dominant-baseline: central;
                                text-anchor: middle;
                            }</style>
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                        </li>
                        @if (currentLoginRoles.Contains("SupperUser") || currentLoginRoles.Contains("WebisteManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Websites</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/ApplicationPool">Application Pools</a>
                            </li>
                        }
                       
                        @if (currentLoginRoles.Contains("SupperUser") || currentLoginRoles.Contains("AccountManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account">Accounts</a>
                            </li>
                        }
                       
                    </ul>
                    <div class="btn-group">
                        <span type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            @currentLoginName
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Change Password</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - IIS.Dashboard - Developement by Luan Nguyen
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>